.addNoteForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.titleInput {
  font-size: 32px;
}
.textInput {
  font-size: 16px;
}
.ageInput,
.nameInput {
  font-size: 12px;
  opacity: 0.55;
}
.wordCount {
  text-align: right;
  font-size: 12px;
  color: #707070;
}
.solidLine {
  width: 100%;
  height: 1px;
  background-color: #dcdcdc;
}

.titleInput,
textarea,
input[type="text"],
select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;

  width: 100%;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  padding: 10px 20px;
  background-color: hsl(346, 70%, 54%);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

button:hover {
  background-color: #ff4370;
}
