.note {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transform: rotate(0deg);
  min-width: 50%;
  min-height: 160px;
  padding: 12px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  height: fit-content;
  cursor: pointer;
  color: #ffffff;
}

.note:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.note:nth-child(even) {
  transform: rotate(5deg);
  margin-top: 30px;
}

.note:nth-child(odd) {
  transform: rotate(-5deg);
}

.noteTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 24px;
  overflow-x: clip;
}
.noteSubText {
  font-family: "Noto Music", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}
.noteUser {
  font-family: "Noto Music", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-align: right;
}
