.note {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transform: rotate(0deg);
  min-width: 50%;
  min-height: 160px;
  padding: 12px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  height: fit-content;
  cursor: pointer;
  color: #ffffff;
}

.note:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.note:nth-child(even) {
  transform: rotate(5deg);
  margin-top: 10px;
}

.note:nth-child(odd) {
  transform: rotate(-5deg);
}

.noteTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 24px;
  overflow-wrap: break-word; /* Ensures long words are broken to fit within the container */
  word-break: break-word;    /* Breaks long words at the edge of the container */
  max-height: 100px;         /* Set a maximum height to ensure the text doesn't exceed the note's height */
  overflow: hidden;          /* Hides any text that exceeds the maximum height */
  display: -webkit-box;      /* Required for text truncation after a certain number of lines */
  -webkit-line-clamp: 3;     /* Limits the title to 3 lines */
  -webkit-box-orient: vertical; /* Required for line clamping */
}
.noteSubText {
  font-family: "Noto Music", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}
.noteUser {
  font-family: "Noto Music", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-align: right;
}
