.infoButton {
position: absolute;
top: 20px;
right: 25px; 
z-index: 10; 
background-color: transparent;
color: white;
border: none;
border-radius: 4px;
cursor: pointer;    
}

.infoButton:hover {
background-color: transparent;
}

.infoDiv {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    width: 345px;
    padding: 20px;
    background-color: #FF4370;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 20;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}
  

.infoDiv h2 {
margin-top: 0;
}

.infoDiv button {
    background-color: #ff4370;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding-inline: 0px;
    padding-block: 0px;
}

.infoDiv button:hover {
background-color: transparent;
}

.infoDivTitle{
    color: #FAFAFA;
    font-family: "Montserrat";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
}

@keyframes slideInFromRight {
0% {
    transform: translateX(100%);
    opacity: 0;
}
100% {
    transform: translateX(-50%);
    opacity: 1;
}
}

.headerText,
.headerLindholmen {
animation: slideInFromRight 1s ease-out forwards;
}

.headerText {
animation-delay: 0.2s; /* Add a small delay if you want a staggered effect */
}

.headerLindholmen {
animation-delay: 0.2s; /* Add a delay for synchronization */
}
  

.p{
    font-family: "Yaldevi", sans-serif;
}

.headerLindholmen{
    top: 17.5%;
    left: 53%;
    position: absolute;
    z-index: 999;
    color: #FFF;
    text-align: center;
    font-family: Audiowide;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transform: translate(-50%, -50%);
}

.headerText {
    top: 13%;
    left: 50%;
    position: absolute;
    z-index: 999;
    color: #FFF; /* Text color */
    font-family: Notable;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transform: translate(-50%, -50%);

    /* Text-shadow to create an outside stroke effect */
    text-shadow: 
        -2px -2px 0 #FF4370,
        2px -2px 0 #FF4370,
        -2px 2px 0 #FF4370,
        2px 2px 0 #FF4370,
        -4px -4px 0 #FF4370,
        4px -4px 0 #FF4370,
        -4px 4px 0 #FF4370,
        4px 4px 0 #FF4370,
        -6px -6px 0 #FF4370,
        6px -6px 0 #FF4370,
        -6px 6px 0 #FF4370,
        6px 6px 0 #FF4370,
        -8px -8px 0 #FF4370,
        8px -8px 0 #FF4370,
        -8px 8px 0 #FF4370,
        8px 8px 0 #FF4370;
}

.markerPopup{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    background-color:#FFF;
    width: 120px;
    font-size: 16px;
    height: 30px;
    }

.markerPopup a{
    text-decoration: none;
    font-weight: 800;
    color: #FF4370;
}

.markerPopup a:hover{
    color:#46222a;
}

.mapboxglPopupStyles{
    background:#FF4370;
}

.mapboxgl-popup-tip{
    background: #FF4370;
}

.popupTypo{
    color: #FAFAFA;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fatPopupTypo{
    color: #FAFAFA;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sjalvklart{
    color: #FAFAFA;
    font-family: Montserrat;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.infoDivCross{
    position: absolute;
    top: 9px;
    right: 13px;
}

@media only screen and (max-width: 435px) {

    .headerText {
        font-size: 25px;
        text-shadow: 
        -2px -2px 0 #FF4370,
        2px -2px 0 #FF4370,
        -2px 2px 0 #FF4370,
        2px 2px 0 #FF4370,
        -4px -4px 0 #FF4370,
        4px -4px 0 #FF4370,
        -4px 4px 0 #FF4370,
        4px 4px 0 #FF4370,
        -6px -6px 0 #FF4370,
        6px -6px 0 #FF4370,
        -6px 6px 0 #FF4370,
        6px 6px 0 #FF4370,
    }

    .infoButtonImage{
        width: 75%;
        right: 10%;
    }

}


  