.infoButton {
position: absolute;
top: 20px;
right: 20px; 
z-index: 10; 
padding: 10px 15px;
background-color: transparent;
color: white;
border: none;
border-radius: 4px;
cursor: pointer;    
}

.infoDiv {
position: absolute;
bottom: 8%;
left: 10%;
width: 80%;
padding: 40px;
background-color: rgba(95, 49, 195, 0.90);
color: white;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
border-radius: 8px;
z-index: 20;
justify-content: center;
align-items: center;
text-align: center;
gap: 10px;
}

.infoDiv h2 {
margin-top: 0;
}

.infoDiv button {
margin-top: 10px;
background-color: #911be4;
color: white;
border: none;
padding: 10px 15px;
border-radius: 4px;
cursor: pointer;
}

.infoDiv button:hover {
background-color: #0056b3;
}

.infoDivTitle{
    font-family: "Yaldevi", sans-serif;
}

.p{
    font-family: "Yaldevi", sans-serif;
}

.headerText {
    top: 8%;
    left: 50%;
    position: absolute;
    z-index: 999;
    color: #FFF; /* Text color */
    font-family: Notable;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transform: translate(-50%, -50%);

    /* Text-shadow to create an outside stroke effect */
    text-shadow: 
        -2px -2px 0 #7B3DFF,
        2px -2px 0 #7B3DFF,
        -2px 2px 0 #7B3DFF,
        2px 2px 0 #7B3DFF,
        -4px -4px 0 #7B3DFF,
        4px -4px 0 #7B3DFF,
        -4px 4px 0 #7B3DFF,
        4px 4px 0 #7B3DFF,
        -6px -6px 0 #7B3DFF,
        6px -6px 0 #7B3DFF,
        -6px 6px 0 #7B3DFF,
        6px 6px 0 #7B3DFF,
        -8px -8px 0 #7B3DFF,
        8px -8px 0 #7B3DFF,
        -8px 8px 0 #7B3DFF,
        8px 8px 0 #7B3DFF;
}

@media only screen and (max-width: 435px) {

    .headerText {
        font-size: 25px;
        text-shadow: 
        -2px -2px 0 #7B3DFF,
        2px -2px 0 #7B3DFF,
        -2px 2px 0 #7B3DFF,
        2px 2px 0 #7B3DFF,
        -4px -4px 0 #7B3DFF,
        4px -4px 0 #7B3DFF,
        -4px 4px 0 #7B3DFF,
        4px 4px 0 #7B3DFF,
        -6px -6px 0 #7B3DFF,
        6px -6px 0 #7B3DFF,
        -6px 6px 0 #7B3DFF,
        6px 6px 0 #7B3DFF,
    }

    .infoButtonImage{
        width: 75%;
        right: 10%;
    }

}


  