.headerWrapperDiv {
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: absolute;
  z-index: 4;
  width: 100%;
  top: 0;
  right: 0;
}

.iconWrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 20px;
}

.headerTextWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.locationStyle {
  color: #fff;
  text-align: center;
  font-family: "Audiowide", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.appName {
  color: #fff;
  text-align: right;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: var(--our-pink-color, #f561cc);
  font-family: Notable;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  left: 10%;
  line-height: normal;
  transform: translate(50%, -50%);

  /* Text-shadow to create an outside stroke effect */
  text-shadow: -2px -2px 0 #f561cc, 2px -2px 0 #f561cc, -2px 2px 0 #f561cc,
    2px 2px 0 #f561cc;
}

.infoButton {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.infoButton:hover {
  background-color: transparent;
}

.popupTypo {
  color: #fafafa;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fatPopupTypo {
  color: #fafafa;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sjalvklart {
  color: #fafafa;
  font-family: Montserrat;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

button:hover {
  background-color: #2f0949;
}

.infoDiv {
  position: absolute;
  bottom: -325%;
  left: 50%;
  transform: translateX(-50%);
  width: 345px;
  padding: 40px;
  background-color: #ff4370;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 20;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.infoDiv h2 {
  margin-top: 0;
}

.infoDiv button {
  background-color: #ff4370;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding-inline: 0px;
  padding-block: 0px;
}

.infoDiv button:hover {
  background-color: #35043b;
}

.infoDivTitle {
  color: #fafafa;
  font-family: "Montserrat";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.p {
  color: #fafafa;
  text-align: center;
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.infoDivCross{
  position: absolute;
  top: 9px;
  right: 13px;
}
